#hero .container{
    display: grid;
    grid-template-columns: auto 500px;
    gap: 30px;
    padding-top: 100px;
    align-items: flex-start;
    border-style: solid;
    border-width: 0.5px;
    border-color: transparent var(--border-primary) transparent var(--border-primary);
}

#hero .buttons-wrapper{
    justify-content: flex-start;
    margin-top: 30px;
    /* left: 50%; */
}

#hero .hero-image{
    position: relative; 
    max-width: 500px; 
    margin: auto;
}

#hero .rating-group{
    position: absolute;
    bottom: -50px;
    left: 0;
    background: var(--glow);
    padding: 30px;
    -webkit-backdrop-filter: blur(100px); 
    backdrop-filter: blur(100px);
    border-radius: 10px;
}

#hero .stars-container{
    color: var(--warning);
}

#hero .discount-wrapper{
    position: relative; 
    max-width: 250px;
}

#hero .discount-wrapper svg{ 
    max-width: 100%;
}

#hero .discount-wrapper svg .text{ 
    fill: var(--muted-foreground); 
    font-size: 35px; font-weight: 700;
    text-transform: uppercase; 
    font-variant-ligatures: none;
    letter-spacing: 6px;
    transform-origin: 250px 250px;
    animation: rotate 25s linear infinite;
}

@keyframes rotate {
    to{
        transform: rotate(360deg); 
    }    
}


#hero .discount-wrapper .textcircle {
    transition: transform 1s cubic-bezier(0.65,0, 0.35,1); 
    transform-origin: 250px 250px;
}

#hero .discount-wrapper:hover .textcircle{
    transform: scale(1.2) rotate(90deg);
}

#hero .discount-wrapper:hover .text{ 
    fill: var(--foreground);
}

#hero .discount{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    transition: var(--transition);
    text-align: center;
    background: var(--gradient-2);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-clip: text;
}

#hero .discount-wrapper:hover .discount{
    scale: 1.1;
}

/* Make it Responsive */

@media (max-width:1000px){
    #hero .container{
        grid-template-columns: auto 400px;
    }
}

@media (max-width:900px) { 
    #hero .container *{
        text-align: center;
    }
    #hero .container{
        grid-template-columns: 100%; 
        border: none;
    }
    #hero .discount-wrapper{
        margin: auto;
    }
    #hero .buttons-wrapper{
        justify-content: center;
    }
}

#hero .handles-container {
    flex-direction: column; 
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: var(--glow);
    padding: 20px 10px;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    z-index: 90;
}

@media (max-width:1250px) { 
    #hero .handles-container{
        display: none;
    }
}
