nav {
    align-items: stretch;
    justify-content: space-between;
    padding: 10px 20px;
    background: var(--bg-secondary);
    border-bottom: solid 0.5px var(--border-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav .column {
    justify-content: flex-start;
}

nav .tab {
    padding: 5px 15px;
    border-radius: 10px;
    color: var(--muted-foreground); 
    transition: var(--transition); 
    cursor: pointer;
    border: solid 0.5px transparent;
}

nav .tab.active {
    border-color: var(--primary); 
    background: var(--bg-accent);
    color: var(--foreground);
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

nav #sidebar-toggle {
    width: 0;
    height: 0;
    visibility: hidden; 
    position: absolute; 
    top: -9999px;
}

nav .menu-btn,
nav .cancel-btn {
    display: none;
}

nav .cancel-btn {
    position: absolute; 
    top: 20px;
    right: 10px;
}

@media (max-width: 1000px) { 
    nav .contact-btn {
        display: none;
    }
}

@media (max-width: 930px) {
    nav .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        max-width: 320px;
        min-height: 100vh;
        z-index: 150;
        background: var(--bg-primary);
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 20px;
        padding-top: 80px;
        transition: var(--transition);
    }
    nav #sidebar-toggle:checked ~ .sidebar { 
        left: 0;
    }
    nav #sidebar-toggle:checked ~ .overlay {
        display: block;
    }
    nav .menu-btn,
    nav .cancel-btn {
        display: flex;
    }
}

@media (max-width: 400px) { 
    nav .search-btn {
        display: none;
    }
}